<div class="aa-top-slider-content">
    <span class="aa-top-slider-catg">2019 - second owner</span>
    <h2 class="aa-top-slider-title">Suzuki Swift</h2>
    <span class="aa-top-slider-off">10% OFF</span>
    <p class="aa-top-slider-price">RS.6,50,000</p>
    <a href="/home/suzuki" class="aa-top-slider-btn">see details <span class="fa fa-angle-double-right"></span></a>
  </div>